.projects{
    width:94%;
    max-width:1500px;
    height:100%;
    padding-top: 15rem;
    padding-bottom: 5rem;
}
.projects-header{
    width:100%;
    padding-bottom:2rem;
}
.projects-header *{
    display:grid;
    place-items: center;
}
.projects-header p{
    font-size:2.2rem;
    color:#7562DF;
    font-weight: 600;
}
.projects-header h1{
    font-size: 4.5rem;
    color: #ddd;
    text-align:center;
}

.projects-logistics{
    padding:3rem 0;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.projects-logistics-card{
    max-width:32rem;
    background:#eee;
    width:100%;
    border:1px solid #063F93;    
    padding:2rem;
    border-radius: 2rem;
    transition:all 250ms ease-in-out;
    margin-bottom:5rem;
}
.projects-logistics-card:hover{
    border:1px solid #fff;    
    background:rgb(6, 63, 147, 0.7);
    box-shadow: 0 0 1rem 1rem rgb(6, 63, 147, 0.4);
}
.projects-logistics-card-img{
    display:grid;
    place-items:center;
    padding:3rem 0;
}
.projects-logistics-card-img img{
    width:27.8rem;
    height:18.4rem;
}

.projects-logistics-card:hover .projects-logistics-card-caption-main h1{
    color:#fff;
}
.projects-logistics-card-caption{
    width:100%;
}
.projects-logistics-card-caption-main{
    display:flex;
    justify-content:center;
    padding:1rem 0;
}
.projects-logistics-card-caption-main h1{
    font-size:2.6rem;
    color:#063F93;
}
.projects-logistics-card:hover .projects-logistics-card-caption-main h1{
    color:#fff;
}
.projects-logistics-card:hover .projects-logistics-card-caption-sub{
    color:#fff;
}
.projects-logistics-card-caption-sub{
    text-align:center;
    font-size:1.5rem;
}

@media screen and (max-width:768px){
    .projects-header h1{
        font-size: 2.8rem;
    }
}