.skillset-wrapper{
    padding:5rem 0;
}
.skillset{
    width:94%;
    max-width:1500px;
    height:100%;
}
.skillset-header{
    width:100%;
    padding-bottom:2rem;
}
.skillset-header *{
    display:grid;
    place-items: center;
}
.skillset-header p{
    font-size:2.2rem;
    color:#063F93;
    font-weight: 600;
}
.skillset-header h1{
    font-size: 4.5rem;
    color: #ddd;
    text-align:center;
}

.skillset-content-wrapper{
    width:100%;
    display:grid;
    grid-template-columns:50% 50%;
    background:#25262A;
    display:grid;
    border-radius:5rem;
    overflow:hidden;
}
.skillset-content-img{
    display:grid;
    place-items:center;
}
.skillset-content-img img{
    width:100%;
}
.skillset-content{
    padding:10rem 0;
}
.skillset-contact-card{
    padding:2rem 2rem;
    background:#F2F2F2;
    width:100%;
    max-width:40rem;
    border-top-right-radius:5rem;
    border-bottom-right-radius:5rem;   
    font-size:1.6rem;
    color:#25262A;
}
.skillset-contact-card span{
    color:#063F93;
    font-weight:700;
}

.skillset-contact-card:not(:last-child){
    margin-bottom:3rem;
}
@media screen and (max-width:768px){
    .skillset-content-wrapper{
        grid-template-columns: 100%;
    }
    .skillset-contact-card{
        margin:0 auto;
    }
}