.experience{
    width:94%;
    max-width:1500px;
    height:100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.experience-header{
    width:100%;
    padding-bottom:2rem;
}
.experience-header *{
    display:grid;
    place-items: center;
}
.experience-header p{
    font-size:2.2rem;
    color:#063F93;
    font-weight: 600;
}
.experience-header h1{
    font-size: 4.5rem;
    color: #ddd;
    text-align:center;
}

.experience-logistics{
    padding:3rem 0;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.experience-logistics-card{
    max-width:32rem;
    background:#eee;
    width:100%;
    border:1px solid #063F93;    
    padding:2rem;
    border-radius: 2rem;
    transition:all 250ms ease-in-out;
    margin-bottom:2rem;
}
.experience-logistics-card:hover{
    border:1px solid #fff;    
    background:rgb(6, 63, 147, 0.7);
    box-shadow: 0 0 1rem 1rem rgb(6, 63, 147, 0.4);
}
.experience-logistics-card-img{
    display:grid;
    place-items:center;
    padding:3rem 0;
}
.experience-logistics-card-img img{
    width:27.8rem;
    height:18.4rem;
}

.experience-logistics-card:hover .experience-logistics-card-caption-main h1{
    color:#fff;
}
.experience-logistics-card-caption{
    width:100%;
}
.experience-logistics-card-caption-main{
    display:flex;
    justify-content:center;
    padding:1rem 0;
}
.experience-logistics-card-caption-main h1{
    font-size:2.6rem;
    color:#063F93;
}
.experience-logistics-card:hover .experience-logistics-card-caption-main h1{
    color:#fff;
}
.experience-logistics-card:hover .experience-logistics-card-caption-sub{
    color:#fff;
}
.experience-logistics-card-caption-sub{
    text-align:center;
    font-size:1.5rem;
}
.accordion{
    width:100%;
    font-size:1.8rem !important;
    border-radius:1rem !important;
    overflow:hidden;
}
.accordion-item button{
    font-size:2rem !important;
    color:#063F93;
    font-weight:600;
}
.accordion-body{
    color:#666;
}
.accordion-body h1{
    color: #7562DF;
}
.accordion-body h2{
    padding-top:1.5rem;
    color:#444;
}
.accordion-body img{
    max-width:31.1rem;
    max-height:41.5rem;
}
.accordion-body a{
    text-decoration: none;
    word-wrap: break-word;
}
.accordion-body span{
    padding-top:1.5rem;
    color:#444;
    font-weight:600;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media screen and (max-width:768px){
    .experience-header h1{
        font-size: 3.5rem;
    }
}