.rundown-wrapper{
    padding:5rem 0;
}
.rundown{
    width:94%;
    max-width:1500px;
    height:100%;
    border-radius:5rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rundown-counter{
    height:35rem;
    max-width:40rem;
    width:100%;
    background:#25262A;
    display:grid;
    place-items:center;
    margin-top:2rem;
}
.rundown-counter-content h1, .rundown-counter-content h2{
    display:grid;
    place-items:center;
}
.rundown-counter-content h1{
    font-size:6rem;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #7562DF,#aaa, #7562DF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rundown-counter-content h2{
    font-size:2.5rem;
    font-family:'Roboto', sans-serif;
    color:#ccc;
    font-weight:500;
}

@media screen and (max-width:768px){
    .rundown-counter{
        height:35rem;
        width:30rem;
        max-width:30rem;
    }
}