.hero-wrapper{
    padding-top:10rem;
    padding-bottom: 5rem;
}
.hero{
    width:94%;
    max-width:1500px;
    display:grid;
    grid-template-columns: 50% 50%;
    height:100%;
}
.hero-content{
    width:100%;
    height:100%;
    padding-right:.5rem;
}
.hero-content-m{
    display:block
}
.hero-content-m-1{
    background:#EA4C89;
    height: 3.5rem;
    width:3.5rem;
    display:grid;
    place-items: center;
    border-radius: 50%;
    transform: rotate(15deg);
    
}
.hero-content-m-1 span{
    color: #fff !important;
}
.hero-content-m p{
    padding-top:5px;
    font-size: var(--p-fs-x);
    line-height:17px;
    color:#EA4C89;
}
.hero-content-l-1{
    padding:2.5rem 0;
}
.hero-content-l-1 h1{
    font-size: 5rem;
    line-height:5.5rem;
    color:#063F93;
    display:flex;
}
.hero-content-l-2 h2{
    font-size:3rem;
    background:linear-gradient(90deg, #7562DF,  #120845);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom:1rem;
}
.hero-content-l-3 p{
    color:#ddd;
    font-size:calc(var(--p-fs-xx) + 4px);
}
.hero-content-l-btn{
    padding-top:4rem;
}
.btn{
    height: 4.5rem;
    width:14rem;
    border-radius: 3rem;
    display:grid;
    place-items:center;
    color:#fff;
    font-size: var(--p-fs-xx);
    background:#063F93;
}

.hero-image-wrapper{
    display:flex;
    justify-content: center;
    position:relative;
    overflow: hidden;
    transform:translateX(0);
    backface-visibility: hidden;
    animation:heroImg 800ms linear; 
}
@keyframes heroImg{
    from{
        transform:translateX(10rem);
    }
    to{
        transform:translateX(0);
    }
}
.hero-image{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:0;

}
.hero-image-circle{
    height: 100%;
    width:100%;
    z-index:1;
    display:grid;
    place-items: center;
}
.hero-image-circle img{
    max-height: 58.6rem;
    max-width:58.6rem;
    width:100%;
    height:100%;
}
.hero-image img{
    width:100%;
    max-width:37.3rem;
    max-height:43rem;
    height:100%;
}

@media screen and (max-width:900px){
    .hero{
        grid-template-columns: 100%;
        row-gap:2rem;
    }
    .hero-content{
        padding-right:0;
    }
}

.Typewriter{
    display:inline;
}