.hero-wrapper{
    padding-top:10rem;
    padding-bottom: 5rem;
}
.hero{
    width:94%;
    max-width:1500px;
    display:grid;
    grid-template-columns: 50% 50%;
    height:100%;
}
.hero-content{
    width:100%;
    height:100%;
    padding-right:.5rem;
}

.hero-content-l-1{
    padding:2.5rem 0;
}
.hero-content-l-1 h1{
    font-size: 5rem;
    line-height:5.5rem;
    color:#ddd;
    display:flex;
}
.hero-content-l-2 h2{
    font-size:3rem;
    background:linear-gradient(145deg, #7562DF,#fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom:1rem;
}
.hero-content-l-3 p{
    color:#ddd;
    font-size:calc(var(--p-fs-xx) + 4px);
}
.hero-content-l-btn{
    padding-top:4rem;
}
.btn-l{
    height: 4.5rem;
    width:14rem;
    border-radius: 3rem;
    display:grid;
    place-items:center;
    color:#fff;
    font-size: var(--p-fs-xx);
    background:#063F93;
}
.btn-l:active{
    border:1px solid #ddd;
}
.btn-l a,
.btn-l a::after,
.btn-l a::before{
    color:#fff;
    text-decoration:none;
}

.hero-image-wrapper{
    display:grid;
    position:relative;
    overflow: hidden; 
    place-items:center;
}
.hero-image{
    border-width:1rem;
    border-style: solid;
    border-color:#ddd #7562DF #063F93 #7562DF;
    border-radius: 50%;
}
.hero-image img{
    width:100%;
    max-width:55rem;
    max-height:55rem;
    height:100%;
    border-radius:50%;
}

@media screen and (max-width:900px){
    .hero{
        grid-template-columns: 100%;
        row-gap:8rem;
    }
    .hero-content{
        padding-right:0;
    }
}

.Typewriter{
    display:inline;
}