.connect-wrapper{
    padding:5rem 0;
}
.connect{
    width:94%;
    max-width:1500px;
    display:grid;
    place-items:center;
    padding:8rem 2rem;
    background:#25262A;
    position:relative;
    border-radius: 5rem;
    overflow:hidden;
}
.connect-intersection{
    position:absolute;
    bottom:-1%;
    right:0;
    z-index:0;
}
.connect-intersect{
    position:absolute;
    z-index:0;
    top:0;
    left:0;
}
.connect-content{
    display:grid;
    place-items:center;
}
.connect-content-line{
    width:10rem;
    height: 5px;
    border-radius: 5px;background: linear-gradient( #7562DF, #120845,#7562DF);
}
.connect-content-main{
    font-size:4rem;
    text-align: center;
    color:#ccc;
    padding:1rem 0;
    z-index:1;

}
.connect-content-sub{
    font-size:1.8rem;
    color:#ccc;
    text-align: center;
    width:100%;
    z-index:1;
    font-weight:200;
    max-width:65rem;
}
.connect-content-btn{
    padding-top:4rem;
    z-index:1;
}
.connect-content-btn .btn-c{
    height:4.8rem;
    z-index:1;
    width:15rem;
    background:#063F93;
    border-radius: 1.5rem;
    font-size:1.6rem;
    color:#ccc;
    display:grid;
    place-items:center;
}

@media screen and (max-width:768px){
    .connect-content-main{
        font-size:3rem;
    }    
}